@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center">
    <div class="card-body">
        <h1 class="card-title">Backpacks Catalogue</h1>
        <p class="card-text">A catalogue of available backpacks</p>
        <a class="btn btn-primary" asp-area="" asp-controller="Backpacks" asp-action="Index">Show me what you've got!</a>
    </div>
</div>
